.section {
  text-align: center;
  padding: 40px;
  background: #f3f3f3;
}

/* TITLE */
.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* FILTER BUTTONS */
.filters {
  margin: 20px 0;
}

.filters button {
  padding: 8px 18px;
  margin: 5px;
  border-radius: 20px;
  border: none;
  background: #e0e0e0;
  cursor: pointer;
  transition: 0.3s;
}

/* ACTIVE BUTTON */
.filters .active {
  background: #2f55d4;
  color: white;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  margin-top: 30px;
}

/* CARD */
.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

/* HOVER EFFECT */
.card:hover {
  transform: scale(1.05);
}

/* IMAGE */
.card img {
  width: 100%;
  height: 140px;
  object-fit: contain;
}

/* NAME */
.card p {
  font-size: 14px;
  margin: 10px 0;
}

/* PRICE */
.price {
  margin-top: 5px;
}

.new {
  color: #2f55d4;
  font-weight: bold;
  margin-right: 8px;
}

.old {
  text-decoration: line-through;
  color: gray;
}

/* VIEW BUTTON */
.view-btn {
  margin-top: 30px;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  background: #2f55d4;
  color: white;
  cursor: pointer;
}