.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
}

.logo {
  height: 60px;
  width: 80px;
}

.nav-links a {
  margin: 0 12px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.nav-links .active {
  color: #4b5bdc;
  font-weight: 600;
}

.login-btn {
  background: #4b5bdc;
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 20px;
  cursor: pointer;
}


/* .navbar {
  background: transparent !important;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
} */