/* Background */
.login-page {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2")
    no-repeat center center/cover;
}

/* Dark overlay like Figma */
.overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.login-card {
  width: 360px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

/* Toggle */
.toggle {
  display: flex;
  margin-bottom: 15px;
}

.toggle button {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
}

.toggle .active {
  background: #4b5bdc;
  color: white;
}

/* Inputs */
.login-card input {
  width: 100%;
  margin: 6px 0 12px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Labels */
.login-card label {
  font-size: 13px;
  text-align: left;
  display: block;
}

/* Forgot */
.forgot {
  text-align: right;
  font-size: 12px;
  color: #4b5bdc;
  cursor: pointer;
}

/* Login button */
.login-btn-main {
  width: 100%;
  padding: 10px;
  background: #4b5bdc;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
}

/* Divider */
.divider {
  margin: 15px 0;
  font-size: 12px;
  color: gray;
}

/* Create button */
.create-btn {
  width: 100%;
  padding: 10px;
  background: #e0e0e0;
  border: none;
  border-radius: 6px;
}