/* FULL BACKGROUND */
.auth-page {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}

/* DARK OVERLAY */
.overlay {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.4);
}

/* CARD */
.auth-card {
  width: 360px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* TOGGLE */
.toggle {
  display: flex;
  margin-bottom: 15px;
}

.toggle button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
}

.toggle .active {
  background: #4b5bdc;
  color: white;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* BUTTONS */
.main-btn {
  width: 100%;
  padding: 10px;
  background: #4b5bdc;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
}

.secondary-btn {
  width: 100%;
  padding: 10px;
  background: #ddd;
  border: none;
  border-radius: 6px;
}

/* TEXT */
.small-text {
  font-size: 12px;
  color: gray;
}

.small-text-p {
  font-size: 12px;
  color: blue;
  cursor: pointer;
  text-align: right;
}